.App {
  text-align: center;
}

.error {
  color: red;
}

.friend {
  border: 2px solid grey;
  margin: 20px auto;
  width: 300px;
}

.friends-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons {
  margin-bottom: 10px;
}

.buttons button {
  margin: 0 5px;
}
